{% import 'project.njk' as components %}
<!DOCTYPE html>
<html>
<head>
    <title>EightShapes Contrast Grid</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="css/project.css">
    <script src="scripts/clipboard.min.js"></script>
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/jquery-ui.min.js"></script>
    <script src="scripts/jquery.deserialize.min.js"></script>
    <script src="scripts/jquery.typewatch.js"></script>
    <script src="scripts/dragtable.js"></script>
    <script src="scripts/beautify.js"></script>
    <script src="scripts/beautify-html.js"></script>
    <script src="scripts/eightshapes-contrast-grid.js"></script>
</head>
<body>
    <div class="es-web-tool__flex-container">
        <div class="es-web-tool__outer-wrap">
            <div class="es-web-tool__body">
                <div class="es-web-tool__configurator">
                    <div class="es-web-tool__sidebar">
                        <h1 class="es-web-tool__title">
                            <a href="http://eightshapes.com">
                                {{ components.icon(icon_name="eightshapes-mark", class="es-web-tool__title-logo") }}
                            </a>
                            <span class="es-web-tool__title-text">Contrast Grid</span>
                        </h1>
                        {{ components.color_form() }}
                        <div class="es-web-tool__sidebar-actions">
                            <div class="es-web-tool__sidebar-ctas">
                                <button class="es-code-toggle es-button">Copy Grid HTML &amp; CSS</button>
                            </div>


                            <div class="es-web-tool__external-links-wrap">
                                <a class="es-web-tool__external-link es-web-tool__external-link--github" href="http://www.eightshapes.com/design-systems.html">
                                    <span class="es-web-tool__external-link-text">
                                        By Eightshapes
                                    </span>
                                </a>
                                <div class="es-web-tool__external-link-separator">
                                </div>
                                <a class="es-web-tool__external-link es-web-tool__external-link--github" href="https://github.com/EightShapes/contrast-grid">
                                    {{ components.icon(icon_name="github", class="es-web-tool__external-link-logo") }}
                                    <span class="es-web-tool__external-link-text">
                                        On Github
                                    </span>
                                </a>
                            </div>

                            <p class="es-web-tool__legal">
                                &copy; Copyright Eightshapes, LLC 2017-2021
                            </p>
                        </div>
                    </div>
                    <div class="es-web-tool__results">
                        {{ components.contrast_grid() }}
                    </div>
                </div>
                {{ components.code_snippet() }}
            </div>
        </div>
    </div>
</body>
</html>
